 @font-face { font-family: GreatVibes; src: url('/fonts/GreatVibes-Regular.otf'); }

.center-div{
  margin-left: 33vw;
  margin-top: 15vh;
}
.background-color-white{
  background-color: #ffffff;
}
.background-color-green{
  background-color: #3c9cc6;
}
.font-color-white{
  color:white;
}
.no-border-radius{
  border-radius: 0px;
}
.text-box-plain{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding:10px 10px 10px 20px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.padding-top-1{
  margin-top: 5%;
}
.padding-top-2{
  margin-top: 10%;
}
body{
  background-color: #eeeeee;
}
.drop-shadow{
  box-shadow: 0px 0px 10px #999;
  overflow: auto;
}
.drop-shadow-flat{
box-shadow: 0px 1px 6px #555;
}
.cursive{
  font-family: GreatVibes;
}
.text-shadow{
  text-shadow: 0px 0px 7px #000;
}
/****************Side Bar*************/
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #ffffff;
  background-color: #34495E;
  border-left: 2px solid #34495E;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
/****************************************/

.highcharts-drilldown-axis-label{
  text-decoration: none;
  font-family: segoe ui;
  color: white;
}
.bg-color-emerald{
  background-color: #2ECC71;
}
.bg-color-nephritess{
  background-color: #E74C3C;
}
.display-block{
  display: block;
}
.display-card-top{
  height:60px;
  line-height:62px;
  color: white;
  padding-left:6%;
}
.display-card-bottom{
  height:60px;
  line-height:62px;
  color: white;
  padding-left:6%;
}
.font-color-black{
  color: black;
}
.todo-name{
  color: black;
}
.todo li{
  background-color: #fff;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}

/*******calender*************/
h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 77px;
  text-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
}
h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:30px;
  text-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  color:#fff;
}
.monthly {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin: 25px 0 75px 0;
  border-radius: 3px;
  color: #fff;
  background: #000;
  letter-spacing: .4em;
  text-decoration: none;
  font-size: 13px;
}
.button:hover {
  background: #3b587a;
}
.desc {
  max-width: 250px;
  text-align: left;
  font-size:14px;
  padding-top:30px;
  line-height: 1.4em;
}
.resize {
  background: #222;
  display: inline-block;
  padding: 6px 15px;
  border-radius: 22px;
  font-size: 13px;
}
@media (max-height: 700px) {
  .sticky {
    position: relative;
  }
}
@media (max-width: 600px) {
  .resize {
    display: none;
  }
}
