 @font-face { font-family: GreatVibes; src: url('/fonts/GreatVibes-Regular.otf'); }

.center-div{
  margin-left: 30vw;
  margin-top: 15vh;
}
.background-color-green{
  background-color: #3c9cc6;
}
.background-color-green{
  background-color: #3c9cc6;
}
.font-color-white{
  color:white;
}
.no-border-radius{
  border-radius: 0px;
}
.text-box-plain{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
    width: 70%;
}
