 @font-face { font-family: GreatVibes; src: url('/fonts/GreatVibes-Regular.otf'); } 
 
.half-circle{
    height: 300px;
    width:300px;
    display: block;
    border-radius: 360px;
     margin-top: 150px;
}
.circle-overflow{
overflow: hidden;
height: 300px;
width:300px;
}
.circle-overflow-left{
overflow: hidden;
height: 150px;
width:150px;
}
.circle-overflow-right{
overflow: hidden;
border: 2px solid red;
height: 150px;
width:150px;
}
.half-circle-left{
    height: 300px;
    width:300px;
    display: block;
    border-radius: 360px;
    margin-top: -150px;
}
.half-circle-right{
    height: 300px;
    width:300px;
    display: block;
    border-radius: 360px;
     margin-top:-180px;
     margin-left: -180px;
}